{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-10 col-md-7 col-lg-5">
    <div class="card card-elevated p-4">
      <h3 class="mb-3">Redefinir Senha</h3>
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.password.label(class='form-label') }}{{ form.password(class='form-control') }}</div>
        <div class="mb-3">{{ form.confirm.label(class='form-label') }}{{ form.confirm(class='form-control') }}</div>
        {{ form.submit(class='btn btn-primary w-100') }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
